
<h2>Tokenized page: 
<a href="{% url 'tpages:edit' token=page.token  %}">{{ page.token }}</a>
</h2>
<h3>{{ page.title }}</h3>
{{ page.body|safe }}
<p> app_id
{{ page.app_key }}
</p>
<p><a href="{% url 'tpages:ninetymoredays' token=page.token  %}/">Add 90 days to expiration</a></p>
<p><a href="{% url 'tpages:show' token=page.token  %}">Back to Page List</a></p>
<p>{{ page.expiration }}</p>
<p> tinyurl
<a href="{{ tinyurl|safe }}">{{ page.title }}</a>
</p>
<p> page valid
{{ page.status|safe }}
</p>
